Repository gustavonvp/VueJs-GitFinder, changes with the labels that .github/labeler.yml gives for each.
All labels: name, label1, label2, repo, @domain/core, test, source

.github/labeler.yml:

name: "Pull Request Labeler"
on:
- pull_request_target

jobs:
  triage:
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
    - uses: actions/labeler@v4

# Add 'label1' to any changes within 'example' folder or any subfolders
label1:
- VueJs-GitFinder/**/*

# Add 'label2' to any file changes within 'example2' folder
label2: .github/*

# Add label3 to any change to .txt files within the entire repository. Quotation marks are required for the leading asterisk
label3:
- '**/*.txt'

- any: ['list', 'of', 'globs']
  all: ['list', 'of', 'globs']
  
  
# Add 'repo' label to any root file changes
repo:
- '*'

# Add '@domain/core' label to any change within the 'core' package
'@domain/core':
- package/core/*
- package/core/**/*

# Add 'test' label to any change to *.spec.js files within the source dir
test:
- src/**/*.spec.js

# Add 'source' label to any change to src files within the source dir EXCEPT for the docs sub-folder
source:
- any: ['src/**/*', '!src/docs/*']

# Add 'frontend` label to any change to *.js files as long as the `main.js` hasn't changed
frontend:
- any: ['src/**/*.js']
  all: ['!src/main.js']

Create action.yml
  .github/workflows/action.yml
Labels: none

Update action.yml
  .github/workflows/action.yml
Labels: none

Create workflow_dispatch.yml
  .github/workflows/workflow_dispatch.yml
Labels: none

Update action.yml
  .github/workflows/action.yml
Labels: none

Create update-main-version.yml
  .github/workflows/update-main-version.yml
Labels: none

Create test.yml
  .github/workflows/test.yml
Labels: none

Update action.yml
  .github/workflows/action.yml
Labels: none

Update action.yml
  .github/workflows/action.yml
Labels: none

Update workflow_dispatch.yml
  .github/workflows/workflow_dispatch.yml
Labels: none

Update workflow_dispatch.yml
  .github/workflows/workflow_dispatch.yml
Labels: none

Update workflow_dispatch.yml
  .github/workflows/workflow_dispatch.yml
Labels: none

Update workflow_dispatch.yml
  .github/workflows/workflow_dispatch.yml
Labels: none

Update action.yml
  .github/workflows/action.yml
Labels: none

Update action.yml
  .github/workflows/action.yml
Labels: none

Update action.yml
  .github/workflows/action.yml
Labels: none

Update action.yml
  .github/workflows/action.yml
Labels: none

Update action.yml
  .github/workflows/action.yml
Labels: none

directlly update action
  .github/workflows/action.yml
Labels: none

Update workflow_dispatch.yml
  .github/workflows/workflow_dispatch.yml
Labels: none

worflow dispatch
  .github/workflows/action.yml
  .github/workflows/workflow_dispatch.yml
Labels: none

commit action
  .github/workflows/action.yml
  .github/workflows/basic-validation.yml
Labels: none

test main versipon
  .github/workflows/update-main-version.yml
Labels: none

codescan
  .github/workflows/codescan.yml
Labels: none

main test
  .github/workflows/main.yml
Labels: none

new version
  .github/action.yml
  .github/workflows/test.yml
Labels: label2

Update basic-validation.yml
  .github/workflows/basic-validation.yml
Labels: none

Update basic-validation.yml
  .github/workflows/basic-validation.yml
Labels: none

new trim lines
  .github/workflows/basic-validation.yml
  package.json
Labels: repo

Update basic-validation.yml
  .github/workflows/basic-validation.yml
Labels: none

test_milic
  .github/workflows/basic-validation.yml
  package.json
Labels: repo

Update basic-validation.yml
  .github/workflows/basic-validation.yml
Labels: none

Update main.yml
  .github/workflows/main.yml
Labels: none

update workflow
  .github/workflows/basic-validation.yml
  .github/workflows/repository_dispatch.yml
Labels: none

Create main.yml
  .github/workflows/main.yml
Labels: none

Update main.yml
  .github/workflows/main.yml
Labels: none

Update main.yml
  .github/workflows/main.yml
Labels: none

Update main.yml
  .github/workflows/main.yml
Labels: none

Update package.json
  package.json
Labels: repo

Update package.json
  package.json
Labels: repo

Update package.json
  package.json
Labels: repo
